.formDiv {
    width: 30%;
    margin: auto;
    margin-top: 50px;
    border: 2px solid rgb(219, 219, 219);
    text-align: center;
    padding: 2%;
 }
 
 input {
    width: 90%;
    margin-bottom: 25px;
    height: 27px;
 }
 
 select {
    margin-bottom: 25px;
    margin-left: 34%;
    height: 32px;
 }